{erl_opts, [debug_info]}.
{deps, [
    {erlydtl, "0.14.0"},
    {epgsql, "4.8.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [epg_migrator]}
]}.

{xref_checks, [
    % mandatory
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "1.2.0"}
        ]},
        {eunit_opts, [
            {dir, "test"},
            {exclude_dirs, ["test/migrations", "test/dtl_migrations", "test/erl_migrations"]}
        ]},
        {dialyzer, [{plt_extra_apps, [eunit, common_test, runtime_tools, meck]}]}
    ]}
]}.

{project_plugins, [
    {erlfmt, "1.8.0"},
    {rebar3_lint, "6.0.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "src/*.{hrl,erl}",
        "include/*.{hrl,erl}",
        "test/*_SUITE.erl",
        "rebar.config",
        "elvis.config",
        "config/sys.config"
    ]}
]}.
